@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply h-full antialiased dark:bg-neutral-950 dark:text-neutral-50;
  }

  .card {
    @apply relative overflow-hidden;
  }
  .card .card-inner::before {
    content: "";
    position: absolute;
    inset: 0 -250%;
    z-index: 0;
    pointer-events: none;
    background-image: -webkit-radial-gradient(at bottom,var(--accent) 0,transparent 12.5%);
    background-image: -moz-radial-gradient(at bottom,var(--accent) 0,transparent 12.5%);
    background-image: radial-gradient(at bottom,var(--accent) 0,transparent 12.5%);
    background-position: center 100%;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    opacity: 0.25;
  }
  .card:hover .card-inner::before,
  .card:focus .card-inner::before,
  .card:active .card-inner::before {
    opacity: 1;
    inset: -2000% -5000% 0;
  }
  .card .card-inner > *:not(.absolute) {
    @apply relative z-10;
  }
  .card .card-inner::after {
    content: "";
    @apply absolute inset-0 rounded-3xl border border-white dark:border-neutral-500 mix-blend-overlay dark:mix-blend-color-dodge opacity-50 dark:opacity-100 z-20 pointer-events-none;
  }

  .card .card-inner {
    @apply block;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
  }

  .card .card-inner,
  .card .cardpad {
    @apply block min-h-full;
  }

  .map-title {
    @apply relative overflow-hidden;
  }
  .map-title::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 20;
    pointer-events: none;
    @apply rounded-full border border-neutral-500 mix-blend-overlay dark:mix-blend-color-dodge;
  }

  .mask-squircle {
    -webkit-mask-image: url(/squircle.svg);
    mask-image: url(/squircle.svg);
  }
}
